.main {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    padding: 0 32px;

    border-bottom: 1px solid #E0E0E0;
}

.infoPart {
    display: flex;
    gap: 32px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    width: 48px;
    height: 48px;
    background: url('./minilogo.svg') 50% 50% no-repeat;
    background-size: 100% 100%;
}